<script>

</script>

<ul class="fixed top-0 left-0 w-full h-[60px] text-sm font-semibold text-white flex items-center px-4 bg-primary z-50 border-b border-tertiary">
  <li class="border border-secondary rounded-sm hover:shadow-lg hover:text-primary transition-shadow duration-200">
    <%= link_to 'Home', root_path, class: "block px-4 py-1 text-center hover:bg-secondary" %>
  </li>

  <% if current_user %>
    <!-- Menú para usuarios autenticados -->
    <div class="flex gap-2 ml-auto">
      <% if current_user.role == "leader" && Rails.application.routes.url_helpers.respond_to?(:pages_about_path) %>
        <li class="border border-secondary rounded-sm hover:shadow-lg hover:text-primary transition-shadow duration-200">
          <%= link_to "Leader Dashboard", leader_dashboard_path, class: "block px-4 py-1 text-center hover:bg-secondary" %>
        </li>
      <% end %>

      <% if Rails.application.routes.url_helpers.respond_to?(:pages_authentification_path) %>
        <li class="border border-secondary rounded-sm hover:shadow-lg hover:text-primary transition-shadow duration-200">
          <%= link_to "Authentication Page", pages_authentification_path, class: "block px-4 py-1 text-center hover:bg-secondary" %>
        </li>
      <% end %>

      <% if Rails.application.routes.url_helpers.respond_to?(:pages_account_path) %>
        <li class="border border-secondary rounded-sm hover:shadow-lg hover:text-primary transition-shadow duration-200">
          <%= link_to "Account Page", pages_account_path, class: "block px-4 py-1 text-center hover:bg-secondary" %>
        </li>
      <% end %>

      <% if Rails.application.routes.url_helpers.respond_to?(:letter_opener_web_path) && Rails.env.development? %>
        <li class="border border-secondary rounded-sm hover:shadow-lg hover:text-primary">
          <%= link_to "Check Email", letter_opener_web_path, target: "_blank", class: "block px-4 py-1 text-center hover:bg-secondary" %>
        </li>
      <% end %>

      <% if Rails.application.routes.url_helpers.respond_to?(:pages_authentification_path) %>
      <li class="relative border border-secondary rounded-sm hover:shadow-lg">
        <span class="block px-3 py-1 text-center text-white hover:text-primary hover:bg-secondary cursor-pointer">My account</span>
        <ul class="absolute left-0 w-fit bg-primary text-white border border-secondary rounded-sm shadow-lg hidden group-hover:block">
          <li class="px-3 py-2 hover:bg-secondary hover:text-primary">
            <%= link_to "Settings", account_path%>
          </li>
          <li class="px-3 py-2 hover:bg-secondary hover:text-primary">
            <%= link_to "Sign Out", session_path, method: :delete, data: { turbo_method: :delete, confirm: "Are you sure?" } %>
          </li>
        </ul>
      </li>
    <% end %>
    </div>

  <% else %>
    <!-- Menú para usuarios no autenticados -->
    <div class="flex gap-2 ml-auto items-center">
      <li class="border border-secondary rounded-sm hover:shadow-lg hover:text-primary transition-shadow duration-200">
        <%= link_to 'Sign In', new_session_path, class: "block px-4 py-1 text-center hover:bg-secondary" %>
      </li>
      or
      <li class="border border-secondary rounded-sm hover:shadow-lg hover:text-primary transition-shadow duration-200">
        <%= link_to 'Register', new_registration_path, class: "block px-4 py-1 text-center hover:bg-secondary" %>
      </li>
    </div>
  <% end %>
</ul>
