<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Trails" %></title>
    <%= favicon_link_tag 'icon.svg' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-primary text-quaternary">
    <main class="flex flex-col mt-[60px] items-center min-h-screen min-w-screen">
      <%= render 'shared/flash' %>
      <% unless current_page?(new_session_path) || current_page?(new_registration_path) %>
        <%= render 'shared/menu' %>
      <% end %>
      <div class="min-w-full max-w-screen-lg">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
